<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SALT Lab</title>

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <h1>Upload new File</h1>
  <form method=post enctype=multipart/form-data>
    <label>CSV File</label>
    <input type=file name=file>
    <label>Video File</label>
    <input type=file name=file>    
    <input type=submit value=Upload>
  </form>
</body>
</html>